<a href="https://colab.research.google.com/github/rlankelahotmail/testrep3/blob/master/EDA_SQL1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

In [14]:
! pip install  ibm_db
import ibm_db
import ibm_db_dbi
import pandas as pd

Requirement already satisfied: ibm_db in /usr/local/lib/python3.7/dist-packages (3.1.0)

In [10]:
def get_db_connection():    
    dsn_driver = "{IBM DB2 ODBC DRIVER}"
    dsn_database ="BLUDB"
    dsn_hostname ="54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
    dsn_port= "32733"
    dsn_protocol = "TCPIP"
    dsn_uid = "ypx40671"
    dsn_pwd =  "8vEjnPY1ofxogZvk"
    dsn_security = "SSL" 
    dsn = (
        "DRIVER={0};"
        "DATABASE={1};"
        "HOSTNAME={2};"
        "PORT={3};"
        "PROTOCOL={4};"
        "UID={5};"
        "PWD={6};"
        "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security  )
    try:
        conn = ibm_db.connect(dsn, "", "")
        print("Connected!")
        return conn
    except Exception:
        print("\nERROR: Unable to connect to the \'" + dsn_database + "\' server.")
        print("error: ", ibm_db.conn_errormsg())
        exit(-1)

In [11]:
conn = get_db_connection()
list_results = []
select_query = 'select EMP_ID, F_NAME, L_NAME, SALARY from employees'
print(select_query)
selectStmt = ibm_db.exec_immediate(conn, select_query)
while ibm_db.fetch_row(selectStmt) != False:
    list_results.append(ibm_db.result(selectStmt, 'EMP_ID'))
ibm_db.close(conn)

Connected!
select EMP_ID, F_NAME, L_NAME, SALARY from employees

True

In [2]:
%load_ext sql

In [8]:
%sql ibm_db_sa://ypx40671:8vEjnPY1ofxogZvk@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?authSource=admin&replicaSet=replset?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
%%sql 
 SELECT * FROM SPACEXTBL

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [24]:
conn = get_db_connection()
pconn=ibm_db_dbi.Connection(conn)
select_query = 'SELECT * FROM SPACEXTBL'
df=pd.read_sql(select_query,pconn)


ibm_db.close(conn)
df.head(200)

Connected!

           DATE TIME__UTC_  ... MISSION_OUTCOME     LANDING__OUTCOME
0    2010-06-04   18:45:00  ...         Success  Failure (parachute)
1    2010-12-08   15:43:00  ...         Success  Failure (parachute)
2    2012-05-22   07:44:00  ...         Success           No attempt
3    2012-10-08   00:35:00  ...         Success           No attempt
4    2013-03-01   15:10:00  ...         Success           No attempt
..          ...        ...  ...             ...                  ...
96   2020-11-05   23:24:23  ...         Success              Success
97   2020-11-16   00:27:00  ...         Success              Success
98   2020-11-21   17:17:08  ...         Success              Success
99   2020-11-25   02:13:00  ...         Success              Success
100  2020-12-06   16:17:08  ...         Success              Success

[101 rows x 10 columns]